.gradle
build/tmp
build/classes
build/generated
build/reports
build/test-results

.git
.gitignore

.idea
.vscode

*.iml
*.log

agent-go/bin
agent-go/tmp
agent-go/agent-state.json

docs
deploy
infra

.DS_Store