MYSQL_ROOT_PASSWORD=

DB_TARGET_HOST=localhost
DB_TARGET_PORT=3306
DB_TARGET_NAME=
DB_TARGET_USERNAME=
DB_TARGET_PASSWORD=

DB_CONNECT_TIMEOUT=2s
DB_SOCKET_TIMEOUT=2s

SERVER_PORT=8080
# Prometheus
PROMETHEUS_PORT=9090